*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


header{
	width: 100%;
	

}

.navegacion{
    text-align: right;
    width: 79%;
	background: #97C1C4;
	position:fixed;
	z-index: 4;
	opacity: 1;
	margin-top: -16px;
}

.navegacion ul{
    list-style: none;
	right: 5%;
	position: relative;
	top: -15px;

}
.navegacion h1{
    list-style: none;
	right: 60%;
	position: relative;
	top: 5px;
    
}
.navegacion img{
	list-style: none;
	position: relative;
    padding-top: 22px;
	float: left;
	padding-left: 5%;
	padding-top: 37px;
}

.menu > li{

    display: inline-block;

}
.menu > h1{

    display: inline-block;

}
.menu > img{

    display: inline-block;

}

.menu > li > a{
	display: block;
    padding: 15px 20px;
    font-size: 15px;
	color: #5D5C5C;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
*/
.fondo_blanco{
	background: #fff;
}
.row1{
	   padding-left: 509px;
        position: absolute;
        z-index: 1;
}

.titulo1{
   font-size: 93px;
   color: #efb810;
   padding-top: 53px
}
.titulo2{
	font-size: 19px;
    color: #efb810
}
.row2{
	float: left;
}
.btn-yellow {
	background: #efb810 !important;
	color: #000;
	font-weight: bold !important;
	margin: 0 auto !important;
  }
  
  .btn-yellow:hover {
	background-color: #fff !important;
  }
  .parallax {
	/* The image used */
	background-color: #000;
  
	/* Set a specific height */
	min-height: 500px; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  .btn-blue {
	background: #7CB1B6 !important;
	color: #fff !important;
	font-weight: bold !important;
	margin: 0 auto !important;
	width: 50%;
	height: 8%;
	font-size: 23px;
  }
  .titulo-fundadores{
	padding-top: 363px;
	color: #FFD700; 
	text-shadow: 1px 2px #999;
	font-size: 40px;
	padding-top: 83px
}
.fondo-fundadores{
	background: rgb(230,230,230);
	height: 766px;
}
  @media screen and (min-height: 0px) and (max-width: 800px) {/*NUESTROS MEADIA QUERIES PARA PANTALLAS DELCELULAR */

	.titulo-fundadores{
		padding-top: 363px;
        color: #FFD700; 
		text-shadow: 1px 2px #999;
		font-size: 40px;
	}
	.fondo-fundadores{
		background: rgb(230,230,230);
		 height: 2000px;
	}

	   
}

