*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}
body{
	background: rgb(230,230,230) !important;
}


header{
	width: 100%;
	

}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about{
	background-color: #e6e6e6 !important;
  }
  .about .logo-about{
	width: 30%;
	padding-top: 15%;
  }
  .about .content {
	padding-left: 30px;
  }
  
  .about .content h3 {
	font-weight: 700;
	font-size: 34px;
  }
  
  .about .content p {
	margin-bottom: 0;
  }
  
  .about .content .icon-box {
	margin-top: 25px;
  }
  
  .about .content .icon-box h4 {
	font-size: 20px;
	font-weight: 700;
	margin: 5px 0 10px 60px;
  }
  
  .about .content .icon-box i {
	font-size: 48px;
	float: left;
	color: #4eb478;
  }
  
  .about .content .icon-box p {
	font-size: 15px;
	color: #848484;
	margin-left: 60px;
  }
  
  .about .image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
  }
  
  @media (max-width: 991px) {
	.about {
	  padding-left: 0;
	}
	.about .image {
	  text-align: center;
	}
	.about .image img {
	  max-width: 80%;
	}
  }
  
  @media (max-width: 667px) {
	.about .image img {
	  max-width: 100%;
	}
  }
  .boton-crea{
	background-color: #ffb000 !important;
	border-radius: 10px !important;
	width: 100% !important;
	padding-top: 0.5rem I !important;
	padding-bottom: 0.5rem !important;
  }
  /*FIN ABOUT*/
.navegacion{
    text-align: right;
    width: 79%;
	background: #97C1C4;
	position:fixed;
	z-index: 4;
	opacity: 1;
	margin-top: -16px;
}

.navegacion ul{
    list-style: none;
	right: 5%;
	position: relative;
	top: -15px;

}
.navegacion h1{
    list-style: none;
	right: 60%;
	position: relative;
	top: 5px;
    
}
.navegacion img{
	list-style: none;
	position: relative;
    padding-top: 22px;
	float: left;
	padding-left: 5%;
	padding-top: 37px;
}

.menu > li{

    display: inline-block;

}
.menu > h1{

    display: inline-block;

}
.menu > img{

    display: inline-block;

}

.menu > li > a{
	display: block;
    padding: 15px 20px;
    font-size: 15px;
	color: #5D5C5C;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
*/
.fondo_blanco{
	background: #fff;
}
.row1{
	   padding-left: 509px;
        position: absolute;
        z-index: 1;
}

.titulo1{
   font-size: 93px;
   color: #efb810;
   padding-top: 53px
}
.titulo2{
	font-size: 19px;
    color: #efb810
}
.row2{
	float: left;
}
  
  .parallax {
	/* The image used */
	background-color: #000;
  
	/* Set a specific height */
	min-height: 500px; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  .btn-blue {
	background-color: rgb(124,177,182) !important;
	color: #fff !important;
	font-weight: bold !important;
	margin-left: 135px  !important;
	width: 50%;
	height: 10%;
	font-size: 29px !important;
	border-radius: 5px !important;
  }
  .titulo-iluminados{
	color: rgb(255,176,0) !important;
	text-shadow: -7px -4px #000;
	font-size: 69px;
	padding-top: 83px;
	font-weight: bold;
  }
  .titulo-fundadores{
	color: rgb(255,176,0) !important;
	text-shadow: -7px -4px #000;
	font-size: 69px;
	padding-top: 83px;
	font-weight: bold;
}

.titulo-comonacio{
	color: rgb(255,176,0) !important;
	text-shadow: -7px -4px #000;
	font-size: 58px;
	font-weight: bold;
	padding-top: 102px;
	padding-bottom: 98px;
}

  @media screen and (min-height: 0px) and (max-width: 800px) {/*NUESTROS MEADIA QUERIES PARA PANTALLAS DELCELULAR */

	.titulo-iluminados{
		color: rgb(255,176,0) !important;
		text-shadow: -7px -4px #000;
		font-size: 59px;
		padding-top: 83px;
		font-weight: bold;
	  }
	  .titulo-fundadores{
		color: rgb(255,176,0) !important;
		text-shadow: -7px -4px #000;
		font-size: 51px;
		padding-top: 372px;
		font-weight: bold;
	}
	.titulo-comonacio{
		color: rgb(255,176,0) !important;
		text-shadow: -7px -4px #000;
		font-size: 58px;
		font-weight: bold;
	}

	.position-cerebro__dorado {
		position: relative;
		bottom: 5px;
		right: 149px;
	}
	.text-iluminados{
		margin: 0px 0px 0px 0px !important;
	}
	.btn-blue {
		background-color: rgb(124,177,182) !important;
		color: #fff !important;
		font-weight: bold !important;
		margin-left: 9px !important;
		width: 94%;
		height: 10%;
		font-size: 29px !important;
		border-radius: 5px !important;
		position: relative;
		bottom: -17px;
		}
}/*FIN RESPONSIVE*/

#txt1 {
    color: #FFD700;
    position: relative;
    top: 13px;
    left: 8%;
    width: 80%;
	font-size: 40px;
}
#part2 {
    width: 101%;
	background-color: rgb(15,11,19) !important;
	position: relative;
	top: 492%;
	bottom: 127%;
	height: auto;
}
.cerebro-morado{
	width: 100%;
    height: 633px;
	max-height: 800px;
}
.position-cerebro__dorado{
	position: relative;
    bottom: 5px;
}
#txt2 {
    color: #FFD700;
    position: relative;
	font-size: 10px;
}
.position-container__black{
	background-color: rgb(15, 19, 11); margin-top: -1px;
	padding: 14px;
}
.sign_in{
	color: #FFD700;
    font-size: 17px;
    font-weight: bold;
}
.text-iluminados{
	font-size: 27px;
	margin-top: 109px;
	margin-left: 147px;
	margin-bottom: 109px;
}

/*POSICION IMAGEN ICONOS LINEA DE TIEMPO*/
.position-icono1{
	width: 114px;
	position: relative;
	bottom: 332px;
	left: 92px;	
}
.position-icono2{
	width: 114px;
	position: relative;
	bottom: 231px;
	left: 251px;
}
.position-icono3{
	width: 114px;
	position: relative;
	bottom: 351px;
	left: 395px;
}
.position-icono4{
	width: 114px;
	position: relative;
	bottom: 226px;
	left: 542px;
}
.position-icono5{
	width: 114px;
	position: relative;
	bottom: 344px;
	left: 694px;
}
.position-icono6{
	width: 114px;
	position: relative;
	bottom: 229px;
	left: 838px;
}/*FIN ICONOS*/
/*POSICION CAJAS DE TEXTO LINEA DE TIEMPO*/
.position-boxtext1{
	border: 0px solid #000;
	position: relative;
	bottom: 228px;	
}
.position-boxtext2{
	border: 0px solid #000;
	position: relative;
	bottom: 658px;
}
.position-boxtext3{
	border: 0px solid #000;
	position: relative;
	bottom: 266px;
}
.position-boxtext4{
	border: 0px solid #000;
	position: relative;
	bottom: 658px;
	right: 33px;
}
.position-boxtext5{
	border: 0px solid #000;

	position: relative;
	bottom: 271px;
	right: 39px;
}
.position-boxtext6{
	border: 0px solid #000;
	position: relative;
	bottom: 970px;
	left: 82%;
}/*FIN boxtext*/
/*ESTILO DE NUMERO DENTOR DE BOX TEXT*/
.number_inbox{
	color: rgb(255,176,0);
	font-size: 62px;
	font-weight: bold;
}
/*Titulo de linea de tiempo*/
.title-lineatime{
	color: rgb(124,177,182);
	font-size: 19px;
	font-weight: bold
}






