*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}
body{
	background: rgb(230,230,230) !important;
}


header{
	width: 100%;
	

}

.navegacion{
    text-align: right;
    width: 79%;
	background: #97C1C4;
	position:fixed;
	z-index: 4;
	opacity: 1;
	margin-top: -16px;
}

.navegacion ul{
    list-style: none;
	right: 5%;
	position: relative;
	top: -15px;

}
.navegacion h1{
    list-style: none;
	right: 60%;
	position: relative;
	top: 5px;
    
}
.navegacion img{
	list-style: none;
	position: relative;
    padding-top: 22px;
	float: left;
	padding-left: 5%;
	padding-top: 37px;
}

.menu > li{

    display: inline-block;

}
.menu > h1{

    display: inline-block;

}
.menu > img{

    display: inline-block;

}

.menu > li > a{
	display: block;
    padding: 15px 20px;
    font-size: 15px;
	color: #5D5C5C;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
*/
.fondo_blanco{
	background: #fff;
}
.row1{
	   padding-left: 509px;
        position: absolute;
        z-index: 1;
}

.titulo1{
   font-size: 93px;
   color: #efb810;
   padding-top: 53px
}
.titulo2{
	font-size: 19px;
    color: #efb810
}
.row2{
	float: left;
}
.btn-yellow {
	background: #efb810 !important;
	color: #000;
	font-weight: bold !important;
	margin: 0 auto !important;
  }
  
  .btn-yellow:hover {
	background-color: #fff !important;
  }
  .parallax {
	/* The image used */
	background-color: #000;
  
	/* Set a specific height */
	min-height: 500px; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  .btn-blue {
	background-color: rgb(124,177,182) !important;
	color: #fff !important;
	font-weight: bold !important;
	margin-left: 135px  !important;
	width: 50%;
	height: 10%;
	font-size: 29px !important;
	border-radius: 5px !important;
  }
  .titulo-iluminados{
	color: rgb(255,176,0) !important;
	text-shadow: -7px -4px #000;
	font-size: 69px;
	padding-top: 83px;
	font-weight: bold;
  }
  .titulo-fundadores{
	color: rgb(255,176,0) !important;
	text-shadow: -7px -4px #000;
	font-size: 69px;
	padding-top: 83px;
	font-weight: bold;
}

.fondo-comonacio{
	background: rgb(230,230,230);
	height: auto;
}
  @media screen and (min-height: 0px) and (max-width: 800px) {/*NUESTROS MEADIA QUERIES PARA PANTALLAS DELCELULAR */

	.titulo-iluminados{
		color: rgb(255,176,0) !important;
		text-shadow: -7px -4px #000;
		font-size: 59px;
		padding-top: 83px;
		font-weight: bold;
	  }
	  .titulo-fundadores{
		color: rgb(255,176,0) !important;
		text-shadow: -7px -4px #000;
		font-size: 58px;
		padding-top: 372px;
		font-weight: bold;
	}
	.titulo-comonacio{
		color: rgb(255,176,0) !important;
		text-shadow: -7px -4px #000;
		font-size: 58px;
		font-weight: bold;
	}

	.position-cerebro__dorado {
		position: relative;
		bottom: 5px;
		right: 149px;
	}
	.text-iluminados{
		margin: 0px 0px 0px 0px !important;
	}
	.btn-blue {
		background-color: rgb(124,177,182) !important;
		color: #fff !important;
		font-weight: bold !important;
		margin-left: 9px !important;
		width: 94%;
		height: 10%;
		font-size: 29px !important;
		border-radius: 5px !important;
		position: relative;
		bottom: -17px;
		}
}/*FIN RESPONSIVE*/

#txt1 {
    color: #FFD700;
    position: relative;
    top: 13px;
    left: 8%;
    width: 80%;
	font-size: 40px;
}
#part2 {
    width: 101%;
	background-color: rgb(15,11,19) !important;
	position: relative;
	top: 492%;
	bottom: 127%;
	height: auto;
}
.cerebro-morado{
	width: 100%;
    height: 633px;
	max-height: 800px;
}
.position-cerebro__dorado{
	position: relative;
    bottom: 5px;
}
#txt2 {
    color: #FFD700;
    position: relative;
	font-size: 10px;
}
.position-container__black{
	background-color: rgb(15, 19, 11); margin-top: -1px;
	padding: 14px;
}
.sign_in{
	color: #FFD700;
    font-size: 17px;
    font-weight: bold;
}
.text-iluminados{
	font-size: 27px;
	margin-top: 109px;
	margin-left: 147px;
	margin-bottom: 109px;
}


